/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #666;
  font-family: 'Roboto', sans-serif;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */



/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background:transparent;
  border:0;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar-wrapper .navbar-brand {
  width: 120px;
  margin:0;
  padding:0;
  display:block;
  height:auto;
}
.navbar-wrapper .navbar-brand img{
  width:100%;
}

.navbar-wrapper ul li h3{
  display: inline-block;
margin: 20px 0 0 0;
position: relative;
padding-bottom: 0;
top: -7px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: auto;
  width:100%;
  overflow:hidden;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  display:hidden;
  min-height:100px;
  overflow:hidden;
  /*display:block;*/
  background-color: #777;
}
.carousel-inner > .item > img {
  top: 0;
  left: 0;
  display:block;
  min-width: 100%;
  height: auto;
}

.left.carousel-control,
.right.carousel-control{
  height:100%;
  min-height:100px;
}

.contacto{
  opacity:0.8;
  background:rgba(0,0,0,0.4);
  display:block;
  position:absolute;  
  z-index:100;
  right:120px;
  height:100%;

}

.carousel:hover .contacto{
  opacity:0.9;
}
.contacto h4{
    font-size: 15px;
  color: #fff;
  font-weight: normal;
  margin-top: 0;
}


.contacto input,
.contacto textarea {
  background:rgba(255,255,255,0.7);
  color:#333;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: 500;
  color:#57a6c7;
}
.marketing .col-lg-4 p {
  margin-right: 0px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */
.featurette.row{
  background:#3b687b;
  display:block;
  width:100%;
  color:#fff;
  margin:0;
  padding:0;
  overflow:hidden;
}


.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  margin:30px 0;
  margin-top:10px!important;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette.row .container{
  padding:50px 0;
}

.featurette.row .container .phone {
  display:block;
  font-size:300px;
  position:absolute;
  color:#13ae8e;
  z-index:1;
  background:#bfbebf;
  border-radius:50%;
  margin:0 auto;
  left:25%;
  top:20%;
  opacity: 0.70;
}

.featurette.row.proceso .container h2{
  z-index:2;
  position:relative;
  margin-bottom:40px;
  width:100%;
  display:block;
}

.featurette.row.proceso .container .leavenum{
  display:block;
  z-index:2;
  position:relative;
  width:90%;
  text-align:right;
  float:right;
}

.featurette.row.testimonios{
  background:#fff;
  display:block;
  width:100%;
  color:#666;
  margin:0;
  padding:0;
}

ol.proceso li {
  font-weight:normal;
  font-size:38px;
  }
ol.proceso li p{
  font-weight:lighter;
  background:none;
}

.testimonios .testimonio span {
  font-style:italic;
}
.testimonios h2{
  margin: 25px 0;
  font-weight:0400;
  color:#3b687b;
}
.testimonio p {
  text-align:justify;
}
.testimonios span.autor{
  display:block;
  font-style: italic;
  color:#aaa;
  text-align:right;
}

#node-3 h2 a{display:none;}

/*Footer*/
footer {
  font-weight:0300;
  font-size:12px;
  padding:20px 0;
  background:#36607d;
  color:#fff;
  margin:0;
  clear:both;
  width:100%;
}

#footer div.container{
  padding:0px 0;
}

#footer a{
  color:#fff;
}

.main-content {
	display:block;
	overflow:hidden;
	clear:both;
	margin:0 auto;
	float:none;
	width:80%;
}
/*Download*/
p.download {
  display:block;
  clear:both;
  text-align:center;
  margin-bottom:20px;
}
p.download a{
  margin:10px;
  display:block-inline;
}

a.chat{padding-left:55px; background:#8f3333;}
span.chat-icon {
  display:block;
  width:48px;
  position:absolute;
  left:5px;
  top:-15px;
  height:48px;
  background:url("../images/chat.png") no-repeat top left;
}

a.underline{
  text-decoration:underline;
}
.contacto2,
.main-content #node-1{display:none;}
  .col-lg-4 {
    float:left;
    width:33%;
  }
div.grippie {display:none!important;}
 .well {
 	background:transparent;
 	border:0;
 } 

 textarea{
 	border-radius:3px;
 }
input,
textarea{
	margin:10px 0;
}
.webform-submit{
	float:right;
	background:#5cb85c;
	border-color:#398439;
	color:#fff;
	font-size:18px;
	padding:8px 15px;
	margin:10px 0;
}

.webform-submit:hover{
	background:#47a447;
	color:#fff;
}
.region-sidebar-first h2{
	display:none;
}
.region-sidebar-second {
	display:block;
	z-index:2;
	position:relative;
}


/*Confirmación*/
body.page-node-2{}

body.page-node-2 #myCarousel,
body.page-node-2 div.container.marketing,
body.page-node-2 div.row.proceso,
body.page-node-2 div.row.testimonios div.container
{display:none;}
body.page-node-2 #node-2 {
	margin-bottom:220px;
}

input.error{
  border-color:red!important;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  span.st_facebook_32,
    span.st_twitter_32,
      span.st_googleplus_32,
        span.st_email_32{ display:inline-block; width:32px;height:32px;}
  span.st_facebook_32{
    background:url(social/facebook_32.png);
  }

  span.st_twitter_32{
    background:url(social/twitter_32.png);
  }
  span.st_googleplus_32{
    background:url(social/googleplus_32.png);
  }
  span.st_email_32{
    background:url(social/email_32.png);
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 1388px) {
  .region-sidebar-first{}
  .region-sidebar-first #block-webform-client-block-1{}
   .contacto .region-sidebar-first #block-webform-client-block-1 h4 {
font-size:20px;
  color:#fff;
  font-weight:normal;
  }
}

@media (max-width:1211px){
      .contacto{
    display:none;
    
  }
    .contacto2,
  .main-content #node-1{
    display:block;
    overflow:hidden;
  }
}
@media (max-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
  .contacto{display:none;}
  .contacto2,
  .main-content #node-1{display:block;
    overflow:hidden;}
  .col-lg-4 {
    float:left;
    width:33%;
  }
  
}

@media (max-width:768px){
    .contacto{
    display:none;
    
  }
  .contacto2,
  .main-content #node-1{
    display:block;
    overflow:hidden;
  }
  .row.proceso{
    overflow:hidden;
  }
  .row.proceso img{
    width:100%;
  }
  .featurette.row.testimonios {
    padding:10px;
  }
    .col-lg-4 {
    float:none;
    width:100%;
  }
  p.download a{
  margin:10px;
  display:block;
  }

  /*#myCarousel{display:none;}*/
  a.chat{display:block; width:60px;}
  a.chat {text-indent:-10000px;}
    a.chat:hover{display:block; width:380px;}
  a.chat:hover {text-indent:0px;}
}
